streamlit
langchain
langchain-classic
langchain-community
langchain-groq
python-dotenv
chromadb
pypdf
sentence-transformers
flask
flask
flask-cors
python-dotenv

langchain
langchain-community
langchain-classic
langchain-groq
langchain-text-splitters

chromadb
sentence-transformers
pypdf

gunicorn